"*":
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles:
      {}
    preferredLineLength: 999
    softWrap: true
  core:
    disabledPackages: [
      "color-picker"
      "minimap"
      "neon-cursor"
      "autocomplete-jedi"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    {}
  jsformat:
    keep_array_indentation: true
    format_on_save: false
    jslint_happy: true
  "autocomplete-plus":
    {}
  Zen:
    width: 120
  "isotope-ui":
    {}
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  esformatter:
    {}
  "tool-bar":
    position: "Left"
    visible: false
