"*":
  Zen:
    width: 120
  "atom-color-highlight": {}
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "neon-cursor"
      "autocomplete-jedi"
      "jshint"
      "gulp-helper"
      "gulp-watcher"
      "nuclide-file-tree"
      "racer"
    ]
    themes: [
      "one-light-ui"
      "base16-tomorrow-light-theme"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 13
    invisibles: {}
    preferredLineLength: 999
    softWrap: true
  esformatter: {}
  "exception-reporting":
    userId: "771fbd7e-00e9-4e40-1fc0-3a07e1be039a"
  "git-diff":
    showIconsInEditorGutter: true
  "gulp-watcher": {}
  "isotope-ui":
    fontFamily: "Roboto"
  jsformat:
    format_on_save: false
    jslint_happy: true
    keep_array_indentation: true
  linter: {}
  "one-light-ui": {}
  pigments: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "tool-bar":
    position: "Left"
    visible: false
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  "xml-formatter":
    endLineCharacter: "LF (\\n)"
    xmlUtf8Header: false
".source.sql":
  editor:
    preferredLineLength: 999
